.logo-title{
    font-style: italic;
}

.about-img{
    width: 80vw;
    max-width: 80vw;
    margin: 1rem 0;
    object-fit: cover;
    position: relative;
}

.img-paragraph,
.second-img-paragraph{
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7.5vw;
    font-style: italic;
    font-weight: 700;
}

.img-paragraph{
    top: 25vh;
    right: 10vw;
}

.second-img-paragraph{
    top: 30vh;
    right: 10vw;
    margin-top: 1em;
}

.about-paragraph{
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

@media (min-width:901px) {
    .about-paragraph{
        font-size: 2.2rem;
    }
}

@media (min-width:1101px) {
    .content{
        display: flex;
        flex-direction: row-reverse;
    }

    .about-title{
        font-size: 4.7rem;
        margin-top: 4rem;
        width: 50%;
    }

    .about-img{
        height: 85vh;
        width: 40vw;
        top: -12vh;
    }

    .about-paragraph{
        margin-top: 3rem;
        width: 90%;
    }

    .cta-content-about-pg{
        position: absolute;
        top: 70vh;
        left: 5vw;
    }

    .img-paragraph,
    .second-img-paragraph{
        color: rgba(0, 0, 0, 0.2);
    }

    .span-paragraph{
        color: rgba(255, 255, 255, 0.4);
    }

    .img-paragraph{
        top: 18vh;
        left: 20vw;
    }

    .second-img-paragraph{
        top: 28vh;
        left: 40vw;
    }
}